<html>
<head>
<title>Anamika Pulses</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="margin:0px;">
<table width="650" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;border:1px solid #C0A177;">

<tr>
<td align="center" valign="top" style="margin:0;padding:0px 0px 25px;border:0;" width="650">
<table width="550" align="center" border="0" cellpadding="0" cellspacing="0" style="border:0;border-collapse: collapse;background-color: #ffffff;">
	<tr>
		<td height="30"></td>
	</tr>
<tr>
<td align="center" valign="top" style="margin:0;padding:0px 0px 10px;border:0;" width="100">
<a href="#" target="_blank">
</a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
	<td valign="top" align="center" style="padding:0;margin: 0px;border:0;" width="650">
		<table width="550" align="center" cellpadding="0" cellspacing="0" style="padding: 0;margin: 0;border:0;background-color: #fff;">
			<tr>
			<td width="470" align="center" valign="top" style="margin:0px 0px;padding:0px 0px 0px;border:0;">
				<table width="470" align="center" cellspacing="0" cellpadding="0" style="padding: 0;margin: 0;border:0;background-color: #ffffff;">
					<tr>
                       <td align="center" valign="top" style="padding-top:10px;padding-bottom:10px;margin:0;" width="420">
                       		<table width="420" align="center" cellspacing="0" cellpadding="0" style="padding:0px 0px 20px;margin: 0;border:0;background-color: #ffffff;">
                                <tr>
                                    <td style="padding:5px 0px;margin:0;border:0;">
                                        <p style="margin: 0;font-size:13px;line-height: 15px;text-align: center;font-family:Verdana;color: #3d3d3d;font-weight:600;">
                                            Hi {{object.name}}, 
                                            <br>
                                            Thank you for reaching out to us! <br>
                                            We’ve received your message and our team will <br>
                                            get back to you shortly.<br>
                                    </td>
                                </tr>
							</table>
                      </td>
                    </tr>
				</table>
			</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td valign="top" align="center" style="padding:0;margin: 0;border:0;" width="650">
		<table width="550" align="center" cellpadding="0" cellspacing="0" style="padding: 0;margin: 0;border:0;background-color: #fff;">
			<tr>
			<td width="470" align="center" valign="top" style="margin:0;padding:0px 0px 20px;border:0;">
				<table width="470" align="center" cellspacing="0" cellpadding="0" style="padding: 0;margin: 0;border:0;">
					<tr>
						<td valign="top" style="padding:10px 0px 0px 0px;border-top:1px solid #C0A177;margin: 0;">
							<p style="margin: 0;font-size:16px;line-height: 22px;text-align: left;color: #565656;">
					            <span style="font-size: 16px; line-height: 22px; font-family:Verdana;text-align: left;color: #565656;">Thank you,<br> Anamika Pulses</span>
					          	</p>
						</td>
					</tr>
				</table>
			</td>
			</tr>
		</table>
	</td>
</tr>



<tr>
<td align="center" valign="top" style="margin:0;padding:0;border:0;padding: 0;border-bottom: 15px solid #C0A177;" width="650">
	<table width="400" align="center" border="0" cellpadding="0" cellspacing="0" style="border:0;border-collapse: collapse;">
		<tr>
			<td align="center" style="text-align:center;padding:0px 0 30px;vertical-align:top;">
				<p style="margin: 0;font-size: 26px;line-height: 16px;text-align: center;color: #022d64;">
            <span style="font-size: 10px; line-height: 12px; font-family:Verdana;text-align: center;color: #022d64;">Copyright Anamika Pulses</span>
          	</p>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</body>
</html>
